npx create-next-app@latest
npm install axios js-cookie zustand
npm install -D @types/js-cookie 
npm install leaflet react-leaflet
npm install --save-dev @types/leaflet
npm install framer-motion
npm install recharts
npm install jspdf xlsx file-saver
npm install --save-dev @types/file-saver
npm install react-select
npm install xlsx file-saver
npm install jspdf jspdf-autotable
npm install react-countup
npm install react-hot-toast